.ant-tabs{
    color: white;
    width: 90%;
}

.ant-table-row .ant-table-row-level-0{
    font-weight: bold;
}

.active{
    color: gold !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: black;
    font-weight: 500;
}