@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

header{
    display: flex;
    width: 100%;
    height: 10vh;
    background: #31334A;
    justify-content: space-between;
}

.logo{
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
}

.logo span{
    font-size: 24px;
    color: #D4D5D8;
    font-family: 'Oswald', sans-serif;
}

.logo span:hover{
    color: #1890E2;
    cursor: pointer;
}

.top_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}

.top_menu div{
    font-family: 'Oswald', sans-serif;
    margin-right: 70px;
    font-size: 20px;
    color: #D4D5D8;
}
