body{
  margin: 0 auto;
  width: 100%;
  max-height: 100vh;
}
.wrapper{
  width: 100%;
  margin: 0 auto;
  background: #202234;
  height: 100vh;
}

a{
  color: #D4D5D8;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
  color: #5965E7;
}

a:visited{
  color: #D4D5D8;
}

a:visited:hover{
  color: #5965E7;
}

.main{
  display: flex;
  width: 100%;
  height: 90vh;
}

.left-sidebar{
  display: flex;
  width: 15%;
  background: #31334A;
  align-items: center;
}

.main-content{
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: flex-start;
}

.h1_main_content{
  color: #D4D5D8;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  color: gold;
  background: #fff;
}

.ant-table-row .ant-table-row-level-0{
  font-weight: bold;
}

.select_season{
  display: flex;
  color: #D4D5D8;
  justify-content: flex-start;
  align-items: baseline;
}

.select_season p{
  margin-right: 15px;
}

.table_container{
  width: 100%;
}

.first-page{
  margin-top: 50px;
  display: grid;
  width: 90%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.first-page div{
  height: 30vh;
  border: 1px solid white;
  font-size: 36px;
  background: #202253;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content-wrapper{
  width: 90%;
}
